<div class="jumbotron">
    <h1>Book Store</h1>
    <p class="lead">This is a simple test of a WebAPI which takes some data from our database and represents it in XML. The search button below will get the titles of all books written after 1980 from the database</p>
    <p><a href="/api/book" class="btn btn-primary btn-lg"> Search &raquo;</a> </p>
    

    

</div>
